
#sugestoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

#sugestoes > * {
    min-width: 15em;
    flex: 1;
}

#pagina-vagas {
    display: flex;
    width: fit-content;
    align-self: flex-start;
    align-items: flex-start;
    position: relative;
    
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
    
}

#principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#analise {
    position: absolute;
    right: -1000px;
    top: 0px;
    height: 100%;
    justify-content: flex-start;
    width: calc((100vw /3) - 20px);
}

#vaga-destaque * {
    max-width: 100%;

}


#vaga-destaque {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    align-items: flex-start;
}

#vaga-destaque > h2 {
    font-size: 2em;
    
}

#cargo-vaga-destaque {
    word-wrap: break-word;
    word-break: break-all;
}

#vaga-destaque > div {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#vaga-destaque > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 10em;
}

#vaga-destaque > :last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#nome-empresa-vaga-destaque {
    font-size: 0.8em;
}

#cargo-vaga-destaque, #salario-vaga-destaque {
    font-size: 2em;
}

#recomendacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: fit-content;
}

#recomendacoes h2 {
    font-size: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

#vagas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 20px;
    width: 100%;
} 

.vaga {
    display: flex;
    min-width: 15em;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
}

.vaga-ativa {
    border: 2px solid var(--cor-destaque);
    box-shadow: var(--brilho-destaque);
}

.vaga:hover, #vaga-destaque:hover {
    transform: translateY(-5px);
}


.vaga:active, #vaga-destaque:active {
    transform: scale(0.95);
}

.vaga * {
    width: 100%;
}

.vaga > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.vaga h3{
    font-size: 2em;
}

#analise > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: visible;
    position: sticky;
    top: 90px;
}

#analise > div::-webkit-scrollbar {
    width: 8px;
}

#analise > div::-webkit-scrollbar-track {
    background: transparent;
}

#analise > div::-webkit-scrollbar-thumb {
    background: var(--cor-destaque);
    border-left: 5px solid var(--fundo-secundario);
}

#analise > div::-webkit-scrollbar-thumb:hover {
    background: var(--brilho-destaque);
}

#analise *:not(.btn-fechar) {
    width: 100%;
}

#analise > div > div:not(.container-duplo){
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#analise h2 {
    font-size: 2em;
}

#classificacao-analise, #compatibilidade-analise {
    font-size: 2em;
}


#btns-avancar-voltar {
    display: flex;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    gap: 10px;
}

#btns-avancar-voltar button {
    height: 30px;
    width: 30px;
    padding: 0;
    display: flex;
    background-color: var(--cor-destaque);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: -50px;
}

#btns-avancar-voltar button:hover {
    transform: translateY(-2px);
}

#btns-avancar-voltar button:active {
    transform: scale(0.95);
}

#btns-avancar-voltar button::after {
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid var(--fundo-secundario);

}

#btn-voltar-vagas::after {
    transform: rotate(180deg);
}

#mascara-slider-paginas {
    display: flex;
    overflow: hidden;
    width: 120px;
}

#btns-avancar-voltar p {
    display: flex;
    gap: 20px;
    padding-left: 10px;
    transform: translateX(40px);
    
    
}

#btns-avancar-voltar p span {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;

}

#pagina-atual {
    font-size: 1.5em;
    font-weight: bold;
}

#buscas-ate-momento {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 0.8em;
    align-self: center;
}

#filtro-form {
    display: flex;
    position: relative;
    overflow: hidden;
  
    align-items: flex-start;
}

#filtro-form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    max-height: 15px;
    overflow-y: scroll;
    opacity: 0;
    width: 100%;
    overflow-x: hidden;
    padding: 1px;
    
}

#btns-filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

#btns-filtros > button {
    flex: 1;
    min-width: 200px;
}

#btns-filtros .btn-destaque {
    margin-top: 0px;
}

#filtro-form > div::-webkit-scrollbar {
    width: 8px;
}

#filtro-form > div::-webkit-scrollbar-track {
    background: transparent;
}

#filtro-form > div::-webkit-scrollbar-thumb {
    background: var(--cor-destaque);
    border-left: 5px solid var(--fundo-secundario);
}

#filtro-form > div::-webkit-scrollbar-thumb:hover {
    background: var(--brilho-destaque);
}

#filtro-form h2 {
    font-size: 2em;
    background-color: var(--fundo-secundario);
    z-index: 999;
    margin-bottom: 20px;
    
}

#filtro-form > div > div:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

#filtro-form > div > div:first-of-type > div {
    min-width: 300px;
    flex: 1;
}

#tecnologias-filtro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.item-checkbox {
    width: fit-content;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-checkbox * {
    cursor: pointer;
}

.campo-filtro {
    display: flex;
    flex-direction: column;
    
}

#nenhum-vaga {
    width: 100%;
}



@media (max-width: 1100px) {

   

    #principal {
        width: calc(100vw - 20px);
    }
    

    #sugestoes > div {
        max-width: 100vw;
    }

    #analise {
        position: static;
        justify-content: flex-start;
        border-bottom: 20px solid var(--fundo-secundario);
        transform: translateX(calc((100vw)*1));
        
    
        
    }

    #pagina-vagas {
        gap: 0px;
        flex-direction: row;
        gap: 40px;
        width: fit-content;
        
        height: fit-content;
        
        
    }

    #pagina-vagas > * {
        width: calc(100vw - 40px);
    }
}

@media (max-width: 425px) {
    
}